body {
    background: #00873c;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    width: 960px;
}

#main {
    /* width: 1000px; */
    /* height: 600px; */
    background: #00873c;
    color: #ffffff;
    margin: 0 auto;
    /* background:#00873c */
}

h1.small {
    font-variant: small-caps;
}

header {
    /* color:#00873c; */
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    /* background: #ffffff; */
    /* height:50px; */
    /* background-image:url('imgs/maize_streamlines.png');
background-repeat: no-repeat;
background-position:center;
background-size:cover */
}

nav {
    line-height: 30px;
    background-color: #ffffff;
    /* height:300px; */
    /* width:60px; */
    float: left;
    padding: 10px;
    color: #00873c;
    text-align: left;
    position: sticky;
    font-variant: small-caps;
    margin: 5px;
    
}

section {
    /* width:600px; */
    padding: 10px;
    float: center;
    text-align: justify;
    text-justify: newspaper;
    margin: 5px;
}

footer {
    background-color: white;
    /* width:100%; */
    color: black;
    clear: both;
    text-align: center;
    padding: 5px;
    /* position: fixed; */
    /* bottom: 10px; */
}

a:link {
    text-decoration: none;
    color: #00873c;
}

a:visited {
    text-decoration: none;
    color: #00873c;
}

a:hover {
    text-decoration: none;
    color: #00873c;
}

a:active {
    text-decoration: none;
    color: #00873c;
}