body {
    background: var(--caugreen);
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    width: 960px;
    --caugreen: #00873c;
}

#main {
    /* width: 1000px; */
    /* height: 600px; */
    background: var(--caugreen);
    color: #ffffff;
    margin: 0 auto;
    font-size: medium;
    /* line-height: 1.5em; */
    /* background:#00873c */
}

.publications {
    font-family: 'Times New Roman', Times, serif;
    /* font-size: xx-large; */
}

h1.small {
    font-variant: small-caps;
}

h2.small {
    font-variant: small-caps;
    font-size: large;
}

header {
    /* color:#00873c; */
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    /* background: #ffffff; */
    /* height:50px; */
    /* background-image:url('imgs/maize_streamlines.png');
background-repeat: no-repeat;
background-position:center;
background-size:cover */
}

nav {
    line-height: 2em;
    background-color: #ffffff;
    /* height:300px;  */
    /* width: 200px; */
    width: 20%;
    /* font-size: medium; */
    float: left;
    padding: 10px;
    color: var(--caugreen);
    text-align: left;
    position: static;
    text-justify: newspaper;
    font-variant: small-caps;
    margin: 15px;
    /* border: 5px solid #000; */
}

section {
    /* width:600px; */
    padding: 10px;
    float: center;
    text-align: justify;
    text-justify: newspaper;
    margin: 5px;
}

.container {
    width: 100%;
    height: auto;
    display: inline-block;
    clear: both;
    font-family: "Times New Roman", "楷体";
    /* border: 2px solid rgb(255, 0, 0); */
}

.photo {
    clear: none;
    width: 30%;
    height: auto;
    float: left;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    /* border: 1px solid #000; */
    text-align: center;
}

.intro {
    clear: none;
    width: 64%;
    float: left;
    margin-inline: 3%;
    margin-bottom: 1.5em;
}

.scale img {
    background-size: contain|cover;
    width: 50%;
    height: auto;
    /* margin: 5%; */
}

.exp-position {
    width: 20%;
    height: auto;
    float: left;
}

.exp-inst-noyear {
    width: 80%;
    height: auto;
    float: left;
}

.exp-inst {
    width: 50%;
    height: auto;
    float: left;
}

.exp-year {
    width: 30%;
    height: auto;
    float: left;
}

.proj-year {
    width: 15%;
    height: auto;
    float: left;
}

.proj-content {
    width: 85%;
    height: auto;
    float: left;
}

footer {
    background-color: white;
    /* width:100%; */
    color: black;
    clear: both;
    text-align: center;
    padding: 5px;
    /* position: fixed; */
    /* bottom: 10px; */
}

a:link {
    text-decoration: none;
    color: var(--caugreen);
}

a:visited {
    text-decoration: none;
    color: var(--caugreen);
}

a:hover {
    text-decoration: none;
    color: var(--caugreen);
}

a:active {
    text-decoration: none;
    color: var(--caugreen);
}

@media (max-width: 1024px) {
    .container {
        font-size: xx-large;
    }
    nav {
        font-size: xx-large;
    }
    .photo {
        clear: none;
        width: 50%;
        float: none;
    }
    .intro {
        clear: none;
        width: auto;
        float: left;
        margin: 0 auto;
    }
    .exp-inst {
        width: auto;
    }
    .exp-year {
        width: auto;
        font-size: xx-large;
    }
    .proj-year {
        width: 100%;
        font-size: xx-large;
    }
    .proj-content {
        width: 100%;
    }
}