
  
  <nav class="navbar sticky-top navbar-expand-md navbar-green bg-heavygreen">
  <!-- <nav class="navbar navbar-expand-sm navbar-green bg-heavygreen"> -->
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
       <img src="{{ site.url }}{{ site.baseurl }}/images/teampic/yu2024.gif" width="100%" height="60" style="margin-right:0px" class="d-inline-block align-top" alt="GIF Image">
      </a>
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
          {{ site.title1  }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">主页<br>Home</a>
            </li> 
            {% for page in site.nav_pages %}
             <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/{{page.name.name1}}">{{page.name.name2}}<br>{{page.name.name1 | capitalize }}</a>
             </li> 
            {% endfor %}
          </ul>
    </div>
  </nav>
  
  