<!DOCTYPE html>
<html>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?1cb2a7fa8e00a7582e27b79c3720c1f1";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
